MonkeyMusicCloud.Client/Service References/Service.Proxy/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MonkeyMusicCloud.Domain.Model" />
  <xs:element name="GetAllSongs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSongsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MonkeyMusicCloud.Domain.Model" minOccurs="0" name="GetAllSongsResult" nillable="true" type="q1:ArrayOfSong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddASong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MonkeyMusicCloud.Domain.Model" minOccurs="0" name="song" nillable="true" type="q2:Song" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddASongResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>