MonkeyMusicCloud.Client/Service References/Service.Proxy/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MonkeyMusicCloud.Domain.Model" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetAllSongs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSongsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MonkeyMusicCloud.Domain.Model" minOccurs="0" name="GetAllSongsResult" nillable="true" type="q1:ArrayOfSong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSongs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSongsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MonkeyMusicCloud.Domain.Model" minOccurs="0" name="SearchSongsResult" nillable="true" type="q2:ArrayOfSong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddASong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MonkeyMusicCloud.Domain.Model" minOccurs="0" name="song" nillable="true" type="q3:Song" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MonkeyMusicCloud.Domain.Model" minOccurs="0" name="mediaFile" nillable="true" type="q4:MediaFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddASongResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="album" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByAlbumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MonkeyMusicCloud.Domain.Model" minOccurs="0" name="GetByAlbumResult" nillable="true" type="q5:ArrayOfSong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaFileById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="mediaFileId" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaFileByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MonkeyMusicCloud.Domain.Model" minOccurs="0" name="GetMediaFileByIdResult" nillable="true" type="q7:MediaFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>