MonkeyMusicCloud.Client/Service References/Service.Proxy/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MusicService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IMusicService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MonkeyMusicCloud.Domain.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMusicService_GetAllSongs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSongs" />
  </wsdl:message>
  <wsdl:message name="IMusicService_GetAllSongs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSongsResponse" />
  </wsdl:message>
  <wsdl:message name="IMusicService_SearchSongs_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchSongs" />
  </wsdl:message>
  <wsdl:message name="IMusicService_SearchSongs_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchSongsResponse" />
  </wsdl:message>
  <wsdl:message name="IMusicService_AddASong_InputMessage">
    <wsdl:part name="parameters" element="tns:AddASong" />
  </wsdl:message>
  <wsdl:message name="IMusicService_AddASong_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddASongResponse" />
  </wsdl:message>
  <wsdl:portType name="IMusicService">
    <wsdl:operation name="GetAllSongs">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusicService/GetAllSongs" message="tns:IMusicService_GetAllSongs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusicService/GetAllSongsResponse" message="tns:IMusicService_GetAllSongs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchSongs">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusicService/SearchSongs" message="tns:IMusicService_SearchSongs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusicService/SearchSongsResponse" message="tns:IMusicService_SearchSongs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddASong">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusicService/AddASong" message="tns:IMusicService_AddASong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusicService/AddASongResponse" message="tns:IMusicService_AddASong_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IMusicService" type="tns:IMusicService">
    <wsp:PolicyReference URI="#WSHttpBinding_IMusicService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllSongs">
      <soap12:operation soapAction="http://tempuri.org/IMusicService/GetAllSongs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSongs">
      <soap12:operation soapAction="http://tempuri.org/IMusicService/SearchSongs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddASong">
      <soap12:operation soapAction="http://tempuri.org/IMusicService/AddASong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MusicService">
    <wsdl:port name="WSHttpBinding_IMusicService" binding="tns:WSHttpBinding_IMusicService">
      <soap12:address location="http://localhost:8732/Design_Time_Addresses/MonkeyMusicCloud.Service/MusicService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8732/Design_Time_Addresses/MonkeyMusicCloud.Service/MusicService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>